* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  display: flex;
  object-fit: contain;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerImage {
  object-fit: contain;
  flex: 1;
  padding: 20px;
}

.app__header button {
  padding-right: 20px;
}

.app__posts {
  padding-top: 25px;
  display: flex;
  justify-content: center;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__login {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
